%article#writesocial.grid_10-10
  %h1 Writesocial: Billions of social network icons
  %figure.slider
    %img{:src => "/assets/writesocial-info-lowercase-blue-grey-600x250.jpg", :width => "600", :height => "250"}
    %img{:src => "/assets/writesocial-info-uppercase-orange-grey-600x250.jpg", :width => "600", :height => "250"}
    %img{:src => "/assets/writesocial-info-number-signs-green-grey-600x250.jpg", :width => "600", :height => "250"}
    %img{:src => "/assets/writesocial-button-grey-blue-600x250.jpg", :width => "600", :height => "250"}
    %img{:src => "/assets/writesocial-button-grey-green-600x250.jpg", :width => "600", :height => "250"}
    %img{:src => "/assets/writesocial-button-grey-orange-600x250.jpg", :width => "600", :height => "250"}
  %section#writesocialinformation.information{:role => "information"}
  	
    %h2 What you get
    %ol
      %li Writesocial font in Open Type Format (.otf)
      %li
        Licensed for usage with @font-face (
        %a{:href => "http://kedano.net/development/font-face/", :target => "_blank", :title => "Link to @font-face article"}> read more
        )
      %li All the @font-face formats you need to display the font cross platform
      %li A HTML file with multiple @font-face usage examples.
    %h2 About
    %p
      Writesocial is the ultimate social icon package with almost limitless design possibilities. The only thing stopping you is your imagination. Something missing? Add a request for the icon on our
      = succeed "." do
        %a{:href => "support.html", :title => "Support Page"} support page
      You will be notified if there is any updates to the files free of charge.
    %h2 Donate
    %p
      What if you could make a difference? For every sale of the donation option, $10 will be added towards our $5000
      %a{:href => "http://mycharitywater.org/kdnmedia", :target => "_blank", :title => "Link to my Charity: Water"} Charity: Water
      donation goal.
  %a#morewritesocial.button.info.floatleft{:href => "#", :type => "button", :value => "information"} Information
  %a.button.red.floatright{:href => "http://kdnmedia.qx.ly/b/ddjt", :type => "button", :value => "buy"} Buy for $15 and support Charity: water with $10
  %a.button.orange.floatright{:href => "http://kdnmedia.qx.ly/b/Kga5", :type => "button", :value => "buy"} Buy for $10