%html
	%head
		%meta{:charset => 'utf-8'}
		
		%title KDNMEDIA : a different kind of digital store
		%meta{ :author => 'description', :content => 'KDNMEDIA'}
		%meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
		%link{:rel => "stylesheet", :type => "text/css", :href => "/assets/application.css"}
	%body{:class => 'scalable'}
		%header{:class => 'grid_12-12'}
			%h1 KDNMEDIA
		=yield
		%footer{:class => 'grid_12-12'}
			%p
				%small a <a href="http://nordahl.me">nordahl.me</a> product
				\| <a href="/support" title="Support"><mark class="support">support</mark></a> | <a href="/tos" title="Terms of service"><mark class="tos">TOS</mark></a>
		%script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
	
		%script{:src => '/assets/application.js'}
		%script
      var _gaq=[["_setAccount","UA-28578231-1"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));


		